# First Steps with the OANDA API

## Connecting to the API / Server

In [1]:
import pandas as pd
import tpqoa

In [4]:
api = tpqoa.tpqoa("oanda.cfg")

In [5]:
api.get_account_summary()

{'id': '101-004-30845775-002',
 'alias': 'USD_Account',
 'currency': 'USD',
 'balance': '99965.0',
 'createdByUserID': 30845775,
 'createdTime': '2025-01-17T19:26:22.171868793Z',
 'guaranteedStopLossOrderMode': 'ALLOWED',
 'pl': '-35.0',
 'resettablePL': '-35.0',
 'resettablePLTime': '0',
 'financing': '0.0',
 'commission': '0.0',
 'guaranteedExecutionFees': '0.0',
 'marginRate': '0.03333333333333',
 'openTradeCount': 0,
 'openPositionCount': 0,
 'pendingOrderCount': 0,
 'hedgingEnabled': False,
 'unrealizedPL': '0.0',
 'NAV': '99965.0',
 'marginUsed': '0.0',
 'marginAvailable': '99965.0',
 'positionValue': '0.0',
 'marginCloseoutUnrealizedPL': '0.0',
 'marginCloseoutNAV': '99965.0',
 'marginCloseoutMarginUsed': '0.0',
 'marginCloseoutPercent': '0.0',
 'marginCloseoutPositionValue': '0.0',
 'withdrawalLimit': '99965.0',
 'marginCallMarginUsed': '0.0',
 'marginCallPercent': '0.0',
 'lastTransactionID': '32'}

In [6]:
api.account_type

'practice'

In [9]:
api.account_id

'101-004-30845775-002'

In [10]:
api.get_instruments()

[('AUD/CAD', 'AUD_CAD'),
 ('AUD/CHF', 'AUD_CHF'),
 ('AUD/HKD', 'AUD_HKD'),
 ('AUD/JPY', 'AUD_JPY'),
 ('AUD/NZD', 'AUD_NZD'),
 ('AUD/SGD', 'AUD_SGD'),
 ('AUD/USD', 'AUD_USD'),
 ('Australia 200', 'AU200_AUD'),
 ('Brent Crude Oil', 'BCO_USD'),
 ('Bund', 'DE10YB_EUR'),
 ('CAD/CHF', 'CAD_CHF'),
 ('CAD/HKD', 'CAD_HKD'),
 ('CAD/JPY', 'CAD_JPY'),
 ('CAD/SGD', 'CAD_SGD'),
 ('CHF/HKD', 'CHF_HKD'),
 ('CHF/JPY', 'CHF_JPY'),
 ('CHF/ZAR', 'CHF_ZAR'),
 ('China A50', 'CN50_USD'),
 ('China H Shares', 'CHINAH_HKD'),
 ('Copper', 'XCU_USD'),
 ('Corn', 'CORN_USD'),
 ('EUR/AUD', 'EUR_AUD'),
 ('EUR/CAD', 'EUR_CAD'),
 ('EUR/CHF', 'EUR_CHF'),
 ('EUR/CZK', 'EUR_CZK'),
 ('EUR/DKK', 'EUR_DKK'),
 ('EUR/GBP', 'EUR_GBP'),
 ('EUR/HKD', 'EUR_HKD'),
 ('EUR/HUF', 'EUR_HUF'),
 ('EUR/JPY', 'EUR_JPY'),
 ('EUR/NOK', 'EUR_NOK'),
 ('EUR/NZD', 'EUR_NZD'),
 ('EUR/PLN', 'EUR_PLN'),
 ('EUR/SEK', 'EUR_SEK'),
 ('EUR/SGD', 'EUR_SGD'),
 ('EUR/TRY', 'EUR_TRY'),
 ('EUR/USD', 'EUR_USD'),
 ('EUR/ZAR', 'EUR_ZAR'),
 ('Europe 50', 'EU50_EUR'),
 ('France 40', 'FR40_EUR'),
 ('GBP/AUD', 'GBP_AUD'),
 ('GBP/CAD', 'GBP_CAD'),
 ('GBP/CHF', 'GBP_CHF'),
 ('GBP/HKD', 'GBP_HKD'),
 ('GBP/JPY', 'GBP_JPY'),
 ('GBP/NZD', 'GBP_NZD'),
 ('GBP/PLN', 'GBP_PLN'),
 ('GBP/SGD', 'GBP_SGD'),
 ('GBP/USD', 'GBP_USD'),
 ('GBP/ZAR', 'GBP_ZAR'),
 ('Germany 30', 'DE30_EUR'),
 ('Gold', 'XAU_USD'),
 ('Gold/AUD', 'XAU_AUD'),
 ('Gold/CAD', 'XAU_CAD'),
 ('Gold/CHF', 'XAU_CHF'),
 ('Gold/EUR', 'XAU_EUR'),
 ('Gold/GBP', 'XAU_GBP'),
 ('Gold/HKD', 'XAU_HKD'),
 ('Gold/JPY', 'XAU_JPY'),
 ('Gold/NZD', 'XAU_NZD'),
 ('Gold/SGD', 'XAU_SGD'),
 ('Gold/Silver', 'XAU_XAG'),
 ('HKD/JPY', 'HKD_JPY'),
 ('Hong Kong 33', 'HK33_HKD'),
 ('Japan 225', 'JP225_USD'),
 ('Japan 225 (JPY)', 'JP225Y_JPY'),
 ('NZD/CAD', 'NZD_CAD'),
 ('NZD/CHF', 'NZD_CHF'),
 ('NZD/HKD', 'NZD_HKD'),
 ('NZD/JPY', 'NZD_JPY'),
 ('NZD/SGD', 'NZD_SGD'),
 ('NZD/USD', 'NZD_USD'),
 ('Natural Gas', 'NATGAS_USD'),
 ('Netherlands 25', 'NL25_EUR'),
 ('Palladium', 'XPD_USD'),
 ('Platinum', 'XPT_USD'),
 ('SGD/CHF', 'SGD_CHF'),
 ('SGD/JPY', 'SGD_JPY'),
 ('Silver', 'XAG_USD'),
 ('Silver/AUD', 'XAG_AUD'),
 ('Silver/CAD', 'XAG_CAD'),
 ('Silver/CHF', 'XAG_CHF'),
 ('Silver/EUR', 'XAG_EUR'),
 ('Silver/GBP', 'XAG_GBP'),
 ('Silver/HKD', 'XAG_HKD'),
 ('Silver/JPY', 'XAG_JPY'),
 ('Silver/NZD', 'XAG_NZD'),
 ('Silver/SGD', 'XAG_SGD'),
 ('Singapore 30', 'SG30_SGD'),
 ('Soybeans', 'SOYBN_USD'),
 ('Spain 35', 'ESPIX_EUR'),
 ('Sugar', 'SUGAR_USD'),
 ('Switzerland 20', 'CH20_CHF'),
 ('TRY/JPY', 'TRY_JPY'),
 ('UK 100', 'UK100_GBP'),
 ('UK 10Y Gilt', 'UK10YB_GBP'),
 ('US 10Y T-Note', 'USB10Y_USD'),
 ('US 2Y T-Note', 'USB02Y_USD'),
 ('US 5Y T-Note', 'USB05Y_USD'),
 ('US Nas 100', 'NAS100_USD'),
 ('US Russ 2000', 'US2000_USD'),
 ('US SPX 500', 'SPX500_USD'),
 ('US T-Bond', 'USB30Y_USD'),
 ('US Wall St 30', 'US30_USD'),
 ('USD/CAD', 'USD_CAD'),
 ('USD/CHF', 'USD_CHF'),
 ('USD/CNH', 'USD_CNH'),
 ('USD/CZK', 'USD_CZK'),
 ('USD/DKK', 'USD_DKK'),
 ('USD/HKD', 'USD_HKD'),
 ('USD/HUF', 'USD_HUF'),
 ('USD/JPY', 'USD_JPY'),
 ('USD/MXN', 'USD_MXN'),
 ('USD/NOK', 'USD_NOK'),
 ('USD/PLN', 'USD_PLN'),
 ('USD/SEK', 'USD_SEK'),
 ('USD/SGD', 'USD_SGD'),
 ('USD/THB', 'USD_THB'),
 ('USD/TRY', 'USD_TRY'),
 ('USD/ZAR', 'USD_ZAR'),
 ('West Texas Oil', 'WTICO_USD'),
 ('Wheat', 'WHEAT_USD'),
 ('ZAR/JPY', 'ZAR_JPY')]

In [11]:
instr = api.get_instruments()

In [12]:
len(instr)

123

In [13]:
instr[0]

('AUD/CAD', 'AUD_CAD')

## Getting Historical Data (Part 1)

Need historical data to train algorithm.

In [14]:
import pandas as pd
import tpqoa
import warnings
warnings.filterwarnings('ignore')

In [15]:
api = tpqoa.tpqoa("oanda.cfg")

In [16]:
help(api.get_history)

Help on method get_history in module tpqoa.tpqoa:

get_history(instrument, start, end, granularity, price, localize=True) method of tpqoa.tpqoa.tpqoa instance
    Retrieves historical data for instrument.

    Parameters
    ==========
    instrument: string
        valid instrument name
    start, end: datetime, str
        Python datetime or string objects for start and end
    granularity: string
        a string like 'S5', 'M1' or 'D'
    price: string
        one of 'A' (ask), 'B' (bid) or 'M' (middle)

    Returns
    =======
    data: pd.DataFrame
        pandas DataFrame object with data

In [17]:
api.get_history(instrument = "EUR_USD", start = "2024-07-01", end = "2024-07-31",
                granularity = "D", price = "B")

                           o        h        l        c  volume  complete
time
2024-06-30 21:00:00  1.07422  1.07758  1.07189  1.07393   69224      True
2024-07-01 21:00:00  1.07364  1.07465  1.07092  1.07447   60155      True
2024-07-02 21:00:00  1.07437  1.08161  1.07356  1.07863   57743      True
2024-07-03 21:00:00  1.07841  1.08132  1.07815  1.08102   36202      True
2024-07-04 21:00:00  1.08105  1.08419  1.07984  1.08371   65324      True
2024-07-07 21:00:00  1.08038  1.08443  1.08010  1.08235   61744      True
2024-07-08 21:00:00  1.08239  1.08326  1.08047  1.08130   59774      True
2024-07-09 21:00:00  1.08118  1.08300  1.08102  1.08294   53829      True
2024-07-10 21:00:00  1.08280  1.08993  1.08256  1.08671   95972      True
2024-07-11 21:00:00  1.08651  1.09106  1.08609  1.09055   91617      True
2024-07-14 21:00:00  1.08836  1.09217  1.08825  1.08941   84426      True
2024-07-15 21:00:00  1.08906  1.09049  1.08708  1.08977   80616      True
2024-07-16 21:00:00  1.08976  1.09474  1.08943  1.09388   93470      True
2024-07-17 21:00:00  1.09385  1.09403  1.08928  1.08955   91247      True
2024-07-18 21:00:00  1.08965  1.09011  1.08750  1.08780   85335      True
2024-07-21 21:00:00  1.08820  1.09023  1.08723  1.08900   80609      True
2024-07-22 21:00:00  1.08873  1.08960  1.08431  1.08528   74317      True
2024-07-23 21:00:00  1.08529  1.08658  1.08248  1.08391   90188      True
2024-07-24 21:00:00  1.08393  1.08693  1.08276  1.08444  109531      True
2024-07-25 21:00:00  1.08449  1.08675  1.08414  1.08548   80400      True
2024-07-28 21:00:00  1.08568  1.08693  1.08021  1.08205   79601      True
2024-07-29 21:00:00  1.08191  1.08351  1.07974  1.08143   84034      True
2024-07-30 21:00:00  1.08134  1.08488  1.08011  1.08257  116762      True

In [18]:
df = api.get_history(instrument = "EUR_USD", start = "2024-07-01", end = "2024-07-31",
                granularity = "D", price = "B")

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 23 entries, 2024-06-30 21:00:00 to 2024-07-30 21:00:00
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   o         23 non-null     float64
 1   h         23 non-null     float64
 2   l         23 non-null     float64
 3   c         23 non-null     float64
 4   volume    23 non-null     int64
 5   complete  23 non-null     bool
dtypes: bool(1), float64(4), int64(1)
memory usage: 1.1 KB

In [20]:
api.get_history(instrument = "EUR_USD", start = "2024-07-01", end = "2024-07-01",
                granularity = "D", price = "A")

                           o        h        l        c  volume  complete
time
2024-06-30 21:00:00  1.07459  1.07773  1.07203  1.07409   69224      True

In [21]:
api.get_history(instrument = "EUR_USD", start = "2024-07-01", end = "2024-07-01",
                granularity = "D", price = "B")

                           o        h        l        c  volume  complete
time
2024-06-30 21:00:00  1.07422  1.07758  1.07189  1.07393   69224      True

## Getting Historical Data (Part 2)

In [22]:
api.get_history("EUR_USD", "2024-09-03", "2024-09-05", "H1", "A")

                           o        h        l        c  volume  complete
time
2024-09-03 00:00:00  1.10680  1.10696  1.10598  1.10615    3312      True
2024-09-03 01:00:00  1.10615  1.10691  1.10608  1.10677    3009      True
2024-09-03 02:00:00  1.10678  1.10712  1.10638  1.10645    1888      True
2024-09-03 03:00:00  1.10644  1.10644  1.10582  1.10589    2455      True
2024-09-03 04:00:00  1.10589  1.10595  1.10547  1.10550    2504      True
2024-09-03 05:00:00  1.10549  1.10606  1.10548  1.10604    2543      True
2024-09-03 06:00:00  1.10602  1.10624  1.10519  1.10624    4360      True
2024-09-03 07:00:00  1.10623  1.10686  1.10564  1.10568    6750      True
2024-09-03 08:00:00  1.10565  1.10605  1.10489  1.10493    5914      True
2024-09-03 09:00:00  1.10494  1.10515  1.10350  1.10410    6195      True
2024-09-03 10:00:00  1.10409  1.10427  1.10340  1.10365    5214      True
2024-09-03 11:00:00  1.10362  1.10438  1.10347  1.10371    4501      True
2024-09-03 12:00:00  1.10371  1.10533  1.10344  1.10487    5448      True
2024-09-03 13:00:00  1.10490  1.10642  1.10489  1.10621    8285      True
2024-09-03 14:00:00  1.10631  1.10705  1.10379  1.10430   13747      True
2024-09-03 15:00:00  1.10429  1.10454  1.10368  1.10431    6657      True
2024-09-03 16:00:00  1.10431  1.10480  1.10389  1.10400    4427      True
2024-09-03 17:00:00  1.10401  1.10409  1.10272  1.10288    3909      True
2024-09-03 18:00:00  1.10288  1.10400  1.10273  1.10388    3456      True
2024-09-03 19:00:00  1.10387  1.10430  1.10381  1.10425    3816      True
2024-09-03 20:00:00  1.10427  1.10453  1.10405  1.10440    1448      True
2024-09-03 21:00:00  1.10452  1.10479  1.10410  1.10474    1116      True
2024-09-03 22:00:00  1.10478  1.10478  1.10407  1.10466    1027      True
2024-09-03 23:00:00  1.10466  1.10514  1.10458  1.10493    1862      True
2024-09-04 00:00:00  1.10489  1.10523  1.10473  1.10491    4896      True
2024-09-04 01:00:00  1.10490  1.10572  1.10484  1.10539    3479      True
2024-09-04 02:00:00  1.10541  1.10572  1.10503  1.10533    3376      True
2024-09-04 03:00:00  1.10534  1.10562  1.10511  1.10548    2081      True
2024-09-04 04:00:00  1.10547  1.10580  1.10543  1.10572    1636      True
2024-09-04 05:00:00  1.10572  1.10607  1.10554  1.10586    2969      True
2024-09-04 06:00:00  1.10586  1.10588  1.10482  1.10541    5120      True
2024-09-04 07:00:00  1.10544  1.10637  1.10476  1.10568    6672      True
2024-09-04 08:00:00  1.10566  1.10597  1.10504  1.10526    6029      True
2024-09-04 09:00:00  1.10527  1.10595  1.10510  1.10540    3833      True
2024-09-04 10:00:00  1.10541  1.10567  1.10508  1.10539    3582      True
2024-09-04 11:00:00  1.10539  1.10548  1.10435  1.10512    4379      True
2024-09-04 12:00:00  1.10511  1.10534  1.10408  1.10532    5382      True
2024-09-04 13:00:00  1.10532  1.10600  1.10507  1.10589    5846      True
2024-09-04 14:00:00  1.10587  1.10959  1.10583  1.10905   12377      True
2024-09-04 15:00:00  1.10904  1.10925  1.10772  1.10816    6170      True
2024-09-04 16:00:00  1.10816  1.10876  1.10767  1.10852    4822      True
2024-09-04 17:00:00  1.10849  1.10870  1.10666  1.10670    4218      True
2024-09-04 18:00:00  1.10669  1.10777  1.10661  1.10768    4182      True
2024-09-04 19:00:00  1.10769  1.10835  1.10757  1.10790    3331      True
2024-09-04 20:00:00  1.10791  1.10846  1.10764  1.10840    1862      True
2024-09-04 21:00:00  1.10854  1.10854  1.10835  1.10843     473      True
2024-09-04 22:00:00  1.10843  1.10873  1.10835  1.10857     716      True
2024-09-04 23:00:00  1.10859  1.10862  1.10798  1.10810    2071      True

In [23]:
# half-day

api.get_history("EUR_USD", "2024-09-03", "2024-09-05", "H12", "A")

                           o        h        l        c  volume  complete
time
2024-09-02 21:00:00  1.10739  1.10742  1.10489  1.10493   34664      True
2024-09-03 09:00:00  1.10494  1.10705  1.10272  1.10440   67103      True
2024-09-03 21:00:00  1.10452  1.10637  1.10407  1.10526   40263      True
2024-09-04 09:00:00  1.10527  1.10959  1.10408  1.10840   59984      True
2024-09-04 21:00:00  1.10854  1.11012  1.10755  1.10999   34402      True

In [24]:
# minute granularity

api.get_history("EUR_USD", "2024-09-03", "2024-09-05", "M1", "A")

                           o        h        l        c  volume  complete
time
2024-09-03 00:00:00  1.10680  1.10681  1.10677  1.10680      51      True
2024-09-03 00:01:00  1.10679  1.10684  1.10669  1.10678      90      True
2024-09-03 00:02:00  1.10679  1.10679  1.10669  1.10673      78      True
2024-09-03 00:03:00  1.10672  1.10672  1.10660  1.10660      60      True
2024-09-03 00:04:00  1.10662  1.10674  1.10655  1.10674      41      True
...                      ...      ...      ...      ...     ...       ...
2024-09-04 23:55:00  1.10819  1.10821  1.10818  1.10819      32      True
2024-09-04 23:56:00  1.10819  1.10820  1.10811  1.10813      88      True
2024-09-04 23:57:00  1.10814  1.10819  1.10812  1.10819      69      True
2024-09-04 23:58:00  1.10819  1.10820  1.10817  1.10818      49      True
2024-09-04 23:59:00  1.10818  1.10820  1.10798  1.10810      51      True

[2869 rows x 6 columns]

In [25]:
# 5 sec interval

api.get_history("EUR_USD", "2024-09-03", "2024-09-04", "S5", "A") # drops a Future Warning -> can be ignored for now

                           o        h        l        c  volume  complete
time
2024-09-03 00:00:00  1.10680  1.10681  1.10680  1.10680      12      True
2024-09-03 00:00:10  1.10679  1.10680  1.10679  1.10680       4      True
2024-09-03 00:00:15  1.10679  1.10681  1.10679  1.10681       8      True
2024-09-03 00:00:20  1.10681  1.10681  1.10680  1.10680       5      True
2024-09-03 00:00:25  1.10679  1.10680  1.10679  1.10679       4      True
...                      ...      ...      ...      ...     ...       ...
2024-09-03 23:59:35  1.10499  1.10500  1.10499  1.10500       2      True
2024-09-03 23:59:40  1.10501  1.10501  1.10499  1.10499       5      True
2024-09-03 23:59:45  1.10500  1.10500  1.10499  1.10499       4      True
2024-09-03 23:59:55  1.10495  1.10495  1.10493  1.10493       5      True
2024-09-04 00:00:00  1.10489  1.10489  1.10485  1.10485      15      True

[14656 rows x 6 columns]

In [26]:
api.get_instruments()

[('AUD/CAD', 'AUD_CAD'),
 ('AUD/CHF', 'AUD_CHF'),
 ('AUD/HKD', 'AUD_HKD'),
 ('AUD/JPY', 'AUD_JPY'),
 ('AUD/NZD', 'AUD_NZD'),
 ('AUD/SGD', 'AUD_SGD'),
 ('AUD/USD', 'AUD_USD'),
 ('Australia 200', 'AU200_AUD'),
 ('Brent Crude Oil', 'BCO_USD'),
 ('Bund', 'DE10YB_EUR'),
 ('CAD/CHF', 'CAD_CHF'),
 ('CAD/HKD', 'CAD_HKD'),
 ('CAD/JPY', 'CAD_JPY'),
 ('CAD/SGD', 'CAD_SGD'),
 ('CHF/HKD', 'CHF_HKD'),
 ('CHF/JPY', 'CHF_JPY'),
 ('CHF/ZAR', 'CHF_ZAR'),
 ('China A50', 'CN50_USD'),
 ('China H Shares', 'CHINAH_HKD'),
 ('Copper', 'XCU_USD'),
 ('Corn', 'CORN_USD'),
 ('EUR/AUD', 'EUR_AUD'),
 ('EUR/CAD', 'EUR_CAD'),
 ('EUR/CHF', 'EUR_CHF'),
 ('EUR/CZK', 'EUR_CZK'),
 ('EUR/DKK', 'EUR_DKK'),
 ('EUR/GBP', 'EUR_GBP'),
 ('EUR/HKD', 'EUR_HKD'),
 ('EUR/HUF', 'EUR_HUF'),
 ('EUR/JPY', 'EUR_JPY'),
 ('EUR/NOK', 'EUR_NOK'),
 ('EUR/NZD', 'EUR_NZD'),
 ('EUR/PLN', 'EUR_PLN'),
 ('EUR/SEK', 'EUR_SEK'),
 ('EUR/SGD', 'EUR_SGD'),
 ('EUR/TRY', 'EUR_TRY'),
 ('EUR/USD', 'EUR_USD'),
 ('EUR/ZAR', 'EUR_ZAR'),
 ('Europe 50', 'EU50_EUR'),
 ('France 40', 'FR40_EUR'),
 ('GBP/AUD', 'GBP_AUD'),
 ('GBP/CAD', 'GBP_CAD'),
 ('GBP/CHF', 'GBP_CHF'),
 ('GBP/HKD', 'GBP_HKD'),
 ('GBP/JPY', 'GBP_JPY'),
 ('GBP/NZD', 'GBP_NZD'),
 ('GBP/PLN', 'GBP_PLN'),
 ('GBP/SGD', 'GBP_SGD'),
 ('GBP/USD', 'GBP_USD'),
 ('GBP/ZAR', 'GBP_ZAR'),
 ('Germany 30', 'DE30_EUR'),
 ('Gold', 'XAU_USD'),
 ('Gold/AUD', 'XAU_AUD'),
 ('Gold/CAD', 'XAU_CAD'),
 ('Gold/CHF', 'XAU_CHF'),
 ('Gold/EUR', 'XAU_EUR'),
 ('Gold/GBP', 'XAU_GBP'),
 ('Gold/HKD', 'XAU_HKD'),
 ('Gold/JPY', 'XAU_JPY'),
 ('Gold/NZD', 'XAU_NZD'),
 ('Gold/SGD', 'XAU_SGD'),
 ('Gold/Silver', 'XAU_XAG'),
 ('HKD/JPY', 'HKD_JPY'),
 ('Hong Kong 33', 'HK33_HKD'),
 ('Japan 225', 'JP225_USD'),
 ('Japan 225 (JPY)', 'JP225Y_JPY'),
 ('NZD/CAD', 'NZD_CAD'),
 ('NZD/CHF', 'NZD_CHF'),
 ('NZD/HKD', 'NZD_HKD'),
 ('NZD/JPY', 'NZD_JPY'),
 ('NZD/SGD', 'NZD_SGD'),
 ('NZD/USD', 'NZD_USD'),
 ('Natural Gas', 'NATGAS_USD'),
 ('Netherlands 25', 'NL25_EUR'),
 ('Palladium', 'XPD_USD'),
 ('Platinum', 'XPT_USD'),
 ('SGD/CHF', 'SGD_CHF'),
 ('SGD/JPY', 'SGD_JPY'),
 ('Silver', 'XAG_USD'),
 ('Silver/AUD', 'XAG_AUD'),
 ('Silver/CAD', 'XAG_CAD'),
 ('Silver/CHF', 'XAG_CHF'),
 ('Silver/EUR', 'XAG_EUR'),
 ('Silver/GBP', 'XAG_GBP'),
 ('Silver/HKD', 'XAG_HKD'),
 ('Silver/JPY', 'XAG_JPY'),
 ('Silver/NZD', 'XAG_NZD'),
 ('Silver/SGD', 'XAG_SGD'),
 ('Singapore 30', 'SG30_SGD'),
 ('Soybeans', 'SOYBN_USD'),
 ('Spain 35', 'ESPIX_EUR'),
 ('Sugar', 'SUGAR_USD'),
 ('Switzerland 20', 'CH20_CHF'),
 ('TRY/JPY', 'TRY_JPY'),
 ('UK 100', 'UK100_GBP'),
 ('UK 10Y Gilt', 'UK10YB_GBP'),
 ('US 10Y T-Note', 'USB10Y_USD'),
 ('US 2Y T-Note', 'USB02Y_USD'),
 ('US 5Y T-Note', 'USB05Y_USD'),
 ('US Nas 100', 'NAS100_USD'),
 ('US Russ 2000', 'US2000_USD'),
 ('US SPX 500', 'SPX500_USD'),
 ('US T-Bond', 'USB30Y_USD'),
 ('US Wall St 30', 'US30_USD'),
 ('USD/CAD', 'USD_CAD'),
 ('USD/CHF', 'USD_CHF'),
 ('USD/CNH', 'USD_CNH'),
 ('USD/CZK', 'USD_CZK'),
 ('USD/DKK', 'USD_DKK'),
 ('USD/HKD', 'USD_HKD'),
 ('USD/HUF', 'USD_HUF'),
 ('USD/JPY', 'USD_JPY'),
 ('USD/MXN', 'USD_MXN'),
 ('USD/NOK', 'USD_NOK'),
 ('USD/PLN', 'USD_PLN'),
 ('USD/SEK', 'USD_SEK'),
 ('USD/SGD', 'USD_SGD'),
 ('USD/THB', 'USD_THB'),
 ('USD/TRY', 'USD_TRY'),
 ('USD/ZAR', 'USD_ZAR'),
 ('West Texas Oil', 'WTICO_USD'),
 ('Wheat', 'WHEAT_USD'),
 ('ZAR/JPY', 'ZAR_JPY')]

In [27]:
# list of instruments: second column = 'technical name' -- for S&P 500 = SPX500_USD

api.get_history("SPX500_USD", "2024-09-03", "2024-09-04", "H1", "A")

                          o       h       l       c  volume  complete
time
2024-09-03 00:00:00  5641.7  5645.2  5639.4  5643.2     816      True
2024-09-03 01:00:00  5643.7  5647.9  5643.4  5646.2     437      True
2024-09-03 02:00:00  5646.4  5646.7  5637.4  5638.4     459      True
2024-09-03 03:00:00  5638.2  5640.2  5631.9  5640.2     741      True
2024-09-03 04:00:00  5639.9  5640.2  5637.4  5638.4     324      True
2024-09-03 05:00:00  5638.7  5642.2  5638.7  5642.2     519      True
2024-09-03 06:00:00  5642.4  5643.7  5633.9  5642.7    1004      True
2024-09-03 07:00:00  5642.4  5653.2  5642.4  5649.2    1387      True
2024-09-03 08:00:00  5649.7  5651.7  5626.4  5626.4    2099      True
2024-09-03 09:00:00  5626.9  5629.7  5615.2  5616.9    2242      True
2024-09-03 10:00:00  5617.2  5623.2  5613.4  5621.4    1657      True
2024-09-03 11:00:00  5621.2  5623.2  5614.4  5619.4    1461      True
2024-09-03 12:00:00  5619.7  5623.7  5614.9  5615.2    1500      True
2024-09-03 13:00:00  5615.7  5619.9  5590.1  5600.1    7698      True
2024-09-03 14:00:00  5597.4  5597.6  5559.6  5562.4   11043      True
2024-09-03 15:00:00  5562.4  5578.6  5560.4  5564.9    5388      True
2024-09-03 16:00:00  5564.6  5573.6  5556.1  5557.6    3400      True
2024-09-03 17:00:00  5557.6  5571.0  5554.7  5555.7    3067      True
2024-09-03 18:00:00  5556.0  5556.0  5537.2  5538.7    4070      True
2024-09-03 19:00:00  5539.0  5543.7  5507.7  5533.7    5846      True
2024-09-03 20:00:00  5534.0  5537.8  5522.8  5528.0    1639      True
2024-09-03 22:00:00  5529.8  5530.8  5520.1  5524.8    1341      True
2024-09-03 23:00:00  5524.8  5527.3  5518.1  5523.1    1055      True

## Streaming high-frequency real-time Data

Need real-time data to feed algorithm, needs to decide in real time whether there are signals worth trading on.

In [28]:
import pandas as pd
import tpqoa

In [29]:
api = tpqoa.tpqoa("oanda.cfg")

In [32]:
api.stream_data('EUR_USD', stop = 10) # stop indicates 'tiks', number of observations after which to stop -- two rows of data per second, the BID and ASK price

2025-02-06T11:25:15.206274987Z 1.03666 1.03673
2025-02-06T11:25:15.967458358Z 1.03666 1.03672
2025-02-06T11:25:16.069289238Z 1.03666 1.03673
2025-02-06T11:25:16.744355180Z 1.03665 1.03672
2025-02-06T11:25:16.910243381Z 1.03665 1.03673
2025-02-06T11:25:17.110800687Z 1.03664 1.03673
2025-02-06T11:25:17.488190882Z 1.03665 1.03673
2025-02-06T11:25:18.277601129Z 1.03665 1.03672
2025-02-06T11:25:18.704924390Z 1.03665 1.03673
2025-02-06T11:25:18.879315086Z 1.03664 1.03672

In [ ]:
# api.stop_stream()

## Creating Orders and Executing Trades

In [34]:
import pandas as pd
import tpqoa

In [35]:
api = tpqoa.tpqoa("oanda.cfg")

In [36]:
# sl_distance = stop/loss distance, required eg in Germany; distance is in EUR

api.create_order(instrument = "EUR_USD", units = 100000, sl_distance= 0.1)

 {'id': '34', 'time': '2025-02-06T11:30:29.307632870Z', 'userID': 30845775, 'accountID': '101-004-30845775-002', 'batchID': '33', 'requestID': '97365222110574611', 'type': 'ORDER_FILL', 'orderID': '33', 'instrument': 'EUR_USD', 'units': '100000.0', 'gainQuoteHomeConversionFactor': '1.0', 'lossQuoteHomeConversionFactor': '1.0', 'price': 1.03676, 'fullVWAP': 1.03676, 'fullPrice': {'type': 'PRICE', 'bids': [{'price': 1.03669, 'liquidity': '500000'}, {'price': 1.03668, 'liquidity': '2500000'}, {'price': 1.03667, 'liquidity': '2000000'}, {'price': 1.03666, 'liquidity': '5000000'}, {'price': 1.03663, 'liquidity': '10000000'}, {'price': 1.0366, 'liquidity': '10000000'}], 'asks': [{'price': 1.03676, 'liquidity': '500000'}, {'price': 1.03677, 'liquidity': '500000'}, {'price': 1.03678, 'liquidity': '2000000'}, {'price': 1.03679, 'liquidity': '2000000'}, {'price': 1.0368, 'liquidity': '5000000'}, {'price': 1.03682, 'liquidity': '10000000'}, {'price': 1.03685, 'liquidity': '10000000'}], 'closeoutBid': 1.0366, 'closeoutAsk': 1.03685}, 'reason': 'MARKET_ORDER', 'pl': '0.0', 'financing': '0.0', 'commission': '0.0', 'guaranteedExecutionFee': '0.0', 'accountBalance': '99965.0', 'tradeOpened': {'tradeID': '34', 'units': '100000.0', 'price': 1.03676, 'guaranteedExecutionFee': '0.0', 'halfSpreadCost': '3.5', 'initialMarginRequired': '3455.7333'}, 'halfSpreadCost': '3.5'}

In [37]:
# no method to close trade, so have to buy -units, a.k.a. sell

api.create_order(instrument = "EUR_USD", units = -100000, sl_distance= 0.1)

 {'id': '37', 'time': '2025-02-06T11:34:49.662712617Z', 'userID': 30845775, 'accountID': '101-004-30845775-002', 'batchID': '36', 'requestID': '79350824690831097', 'type': 'ORDER_FILL', 'orderID': '36', 'instrument': 'EUR_USD', 'units': '-100000.0', 'gainQuoteHomeConversionFactor': '1.0', 'lossQuoteHomeConversionFactor': '1.0', 'price': 1.03628, 'fullVWAP': 1.03628, 'fullPrice': {'type': 'PRICE', 'bids': [{'price': 1.03628, 'liquidity': '500000'}, {'price': 1.03627, 'liquidity': '2500000'}, {'price': 1.03626, 'liquidity': '2000000'}, {'price': 1.03625, 'liquidity': '5000000'}, {'price': 1.03622, 'liquidity': '10000000'}, {'price': 1.03619, 'liquidity': '10000000'}], 'asks': [{'price': 1.03635, 'liquidity': '500000'}, {'price': 1.03636, 'liquidity': '500000'}, {'price': 1.03637, 'liquidity': '2000000'}, {'price': 1.03638, 'liquidity': '2000000'}, {'price': 1.03639, 'liquidity': '5000000'}, {'price': 1.03641, 'liquidity': '10000000'}, {'price': 1.03644, 'liquidity': '10000000'}], 'closeoutBid': 1.03619, 'closeoutAsk': 1.03644}, 'reason': 'MARKET_ORDER', 'pl': '-48.0', 'financing': '0.0', 'commission': '0.0', 'guaranteedExecutionFee': '0.0', 'accountBalance': '99917.0', 'tradesClosed': [{'tradeID': '34', 'units': '-100000.0', 'price': 1.03628, 'realizedPL': '-48.0', 'financing': '0.0', 'guaranteedExecutionFee': '0.0', 'halfSpreadCost': '3.5'}], 'halfSpreadCost': '3.5'}

In [44]:
api.get_transactions(tid = 32) # insert the id of the first trade in this session -- excluding tid number, ie 32 gives transactions from 33 onwards

[{'id': '33',
  'time': '2025-02-06T11:30:29.307632870Z',
  'userID': 30845775,
  'accountID': '101-004-30845775-002',
  'batchID': '33',
  'requestID': '97365222110574611',
  'type': 'MARKET_ORDER',
  'instrument': 'EUR_USD',
  'units': '100000.0',
  'timeInForce': 'FOK',
  'positionFill': 'DEFAULT',
  'reason': 'CLIENT_ORDER',
  'stopLossOnFill': {'distance': '0.1', 'timeInForce': 'GTC'}},
 {'id': '34',
  'time': '2025-02-06T11:30:29.307632870Z',
  'userID': 30845775,
  'accountID': '101-004-30845775-002',
  'batchID': '33',
  'requestID': '97365222110574611',
  'type': 'ORDER_FILL',
  'orderID': '33',
  'instrument': 'EUR_USD',
  'units': '100000.0',
  'gainQuoteHomeConversionFactor': '1.0',
  'lossQuoteHomeConversionFactor': '1.0',
  'price': 1.03676,
  'fullVWAP': 1.03676,
  'fullPrice': {'type': 'PRICE',
   'bids': [{'price': 1.03669, 'liquidity': '500000'},
    {'price': 1.03668, 'liquidity': '2500000'},
    {'price': 1.03667, 'liquidity': '2000000'},
    {'price': 1.03666, 'liquidity': '5000000'},
    {'price': 1.03663, 'liquidity': '10000000'},
    {'price': 1.0366, 'liquidity': '10000000'}],
   'asks': [{'price': 1.03676, 'liquidity': '500000'},
    {'price': 1.03677, 'liquidity': '500000'},
    {'price': 1.03678, 'liquidity': '2000000'},
    {'price': 1.03679, 'liquidity': '2000000'},
    {'price': 1.0368, 'liquidity': '5000000'},
    {'price': 1.03682, 'liquidity': '10000000'},
    {'price': 1.03685, 'liquidity': '10000000'}],
   'closeoutBid': 1.0366,
   'closeoutAsk': 1.03685},
  'reason': 'MARKET_ORDER',
  'pl': '0.0',
  'financing': '0.0',
  'commission': '0.0',
  'guaranteedExecutionFee': '0.0',
  'accountBalance': '99965.0',
  'tradeOpened': {'tradeID': '34',
   'units': '100000.0',
   'price': 1.03676,
   'guaranteedExecutionFee': '0.0',
   'halfSpreadCost': '3.5',
   'initialMarginRequired': '3455.7333'},
  'halfSpreadCost': '3.5'},
 {'id': '35',
  'time': '2025-02-06T11:30:29.307632870Z',
  'userID': 30845775,
  'accountID': '101-004-30845775-002',
  'batchID': '33',
  'requestID': '97365222110574611',
  'type': 'STOP_LOSS_ORDER',
  'tradeID': '34',
  'price': 0.93676,
  'distance': '0.1',
  'timeInForce': 'GTC',
  'triggerCondition': 'DEFAULT',
  'reason': 'ON_FILL'},
 {'id': '36',
  'time': '2025-02-06T11:34:49.662712617Z',
  'userID': 30845775,
  'accountID': '101-004-30845775-002',
  'batchID': '36',
  'requestID': '79350824690831097',
  'type': 'MARKET_ORDER',
  'instrument': 'EUR_USD',
  'units': '-100000.0',
  'timeInForce': 'FOK',
  'positionFill': 'DEFAULT',
  'reason': 'CLIENT_ORDER',
  'stopLossOnFill': {'distance': '0.1', 'timeInForce': 'GTC'}},
 {'id': '37',
  'time': '2025-02-06T11:34:49.662712617Z',
  'userID': 30845775,
  'accountID': '101-004-30845775-002',
  'batchID': '36',
  'requestID': '79350824690831097',
  'type': 'ORDER_FILL',
  'orderID': '36',
  'instrument': 'EUR_USD',
  'units': '-100000.0',
  'gainQuoteHomeConversionFactor': '1.0',
  'lossQuoteHomeConversionFactor': '1.0',
  'price': 1.03628,
  'fullVWAP': 1.03628,
  'fullPrice': {'type': 'PRICE',
   'bids': [{'price': 1.03628, 'liquidity': '500000'},
    {'price': 1.03627, 'liquidity': '2500000'},
    {'price': 1.03626, 'liquidity': '2000000'},
    {'price': 1.03625, 'liquidity': '5000000'},
    {'price': 1.03622, 'liquidity': '10000000'},
    {'price': 1.03619, 'liquidity': '10000000'}],
   'asks': [{'price': 1.03635, 'liquidity': '500000'},
    {'price': 1.03636, 'liquidity': '500000'},
    {'price': 1.03637, 'liquidity': '2000000'},
    {'price': 1.03638, 'liquidity': '2000000'},
    {'price': 1.03639, 'liquidity': '5000000'},
    {'price': 1.03641, 'liquidity': '10000000'},
    {'price': 1.03644, 'liquidity': '10000000'}],
   'closeoutBid': 1.03619,
   'closeoutAsk': 1.03644},
  'reason': 'MARKET_ORDER',
  'pl': '-48.0',
  'financing': '0.0',
  'commission': '0.0',
  'guaranteedExecutionFee': '0.0',
  'accountBalance': '99917.0',
  'tradesClosed': [{'tradeID': '34',
    'units': '-100000.0',
    'price': 1.03628,
    'realizedPL': '-48.0',
    'financing': '0.0',
    'guaranteedExecutionFee': '0.0',
    'halfSpreadCost': '3.5'}],
  'halfSpreadCost': '3.5'},
 {'id': '38',
  'time': '2025-02-06T11:34:49.662712617Z',
  'userID': 30845775,
  'accountID': '101-004-30845775-002',
  'batchID': '36',
  'requestID': '79350824690831097',
  'type': 'ORDER_CANCEL',
  'orderID': '35',
  'reason': 'LINKED_TRADE_CLOSED'}]

In [ ]:
api.print_transactions(tid = 32) # insert the trade id (tid) of the first trade in this session -- tid = 32 is same as tid = 33-1

  34 | 2025-02-06T11:30:29.30 | EUR_USD | 100000.0 |      0.0
  37 | 2025-02-06T11:34:49.66 | EUR_USD | -100000.0 |    -48.0

# Trade Challange

In [48]:
api.create_order(instrument = "EUR_USD", units = 100000, sl_distance= 0.1)

 {'id': '43', 'time': '2025-02-06T11:46:26.416810248Z', 'userID': 30845775, 'accountID': '101-004-30845775-002', 'batchID': '42', 'requestID': '61336429105449052', 'type': 'ORDER_FILL', 'orderID': '42', 'instrument': 'EUR_USD', 'units': '100000.0', 'gainQuoteHomeConversionFactor': '1.0', 'lossQuoteHomeConversionFactor': '1.0', 'price': 1.03628, 'fullVWAP': 1.03628, 'fullPrice': {'type': 'PRICE', 'bids': [{'price': 1.0362, 'liquidity': '500000'}, {'price': 1.03619, 'liquidity': '2500000'}, {'price': 1.03618, 'liquidity': '2000000'}, {'price': 1.03617, 'liquidity': '5000000'}, {'price': 1.03614, 'liquidity': '10000000'}, {'price': 1.03611, 'liquidity': '10000000'}], 'asks': [{'price': 1.03628, 'liquidity': '500000'}, {'price': 1.03629, 'liquidity': '500000'}, {'price': 1.0363, 'liquidity': '2000000'}, {'price': 1.03631, 'liquidity': '2000000'}, {'price': 1.03632, 'liquidity': '5000000'}, {'price': 1.03634, 'liquidity': '10000000'}, {'price': 1.03637, 'liquidity': '10000000'}], 'closeoutBid': 1.03611, 'closeoutAsk': 1.03637}, 'reason': 'MARKET_ORDER', 'pl': '0.0', 'financing': '0.0', 'commission': '0.0', 'guaranteedExecutionFee': '0.0', 'accountBalance': '99917.0', 'tradeOpened': {'tradeID': '43', 'units': '100000.0', 'price': 1.03628, 'guaranteedExecutionFee': '0.0', 'halfSpreadCost': '4.0', 'initialMarginRequired': '3454.1333'}, 'halfSpreadCost': '4.0'}

In [49]:
api.create_order(instrument = "EUR_USD", units = -200000, sl_distance= 0.1)

 {'id': '46', 'time': '2025-02-06T11:47:05.025440660Z', 'userID': 30845775, 'accountID': '101-004-30845775-002', 'batchID': '45', 'requestID': '97365226284596490', 'type': 'ORDER_FILL', 'orderID': '45', 'instrument': 'EUR_USD', 'units': '-200000.0', 'gainQuoteHomeConversionFactor': '1.0', 'lossQuoteHomeConversionFactor': '1.0', 'price': 1.03621, 'fullVWAP': 1.03621, 'fullPrice': {'type': 'PRICE', 'bids': [{'price': 1.03621, 'liquidity': '500000'}, {'price': 1.0362, 'liquidity': '2500000'}, {'price': 1.03619, 'liquidity': '2000000'}, {'price': 1.03618, 'liquidity': '5000000'}, {'price': 1.03615, 'liquidity': '10000000'}, {'price': 1.03612, 'liquidity': '10000000'}], 'asks': [{'price': 1.03629, 'liquidity': '500000'}, {'price': 1.0363, 'liquidity': '500000'}, {'price': 1.03631, 'liquidity': '2000000'}, {'price': 1.03632, 'liquidity': '2000000'}, {'price': 1.03633, 'liquidity': '5000000'}, {'price': 1.03635, 'liquidity': '10000000'}, {'price': 1.03638, 'liquidity': '10000000'}], 'closeoutBid': 1.03612, 'closeoutAsk': 1.03638}, 'reason': 'MARKET_ORDER', 'pl': '2.0', 'financing': '0.0', 'commission': '0.0', 'guaranteedExecutionFee': '0.0', 'accountBalance': '99919.0', 'tradesClosed': [{'tradeID': '40', 'units': '-100000.0', 'price': 1.03621, 'realizedPL': '9.0', 'financing': '0.0', 'guaranteedExecutionFee': '0.0', 'halfSpreadCost': '4.0'}, {'tradeID': '43', 'units': '-100000.0', 'price': 1.03621, 'realizedPL': '-7.0', 'financing': '0.0', 'guaranteedExecutionFee': '0.0', 'halfSpreadCost': '4.0'}], 'halfSpreadCost': '8.0'}